.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navbar{
  background-color: rgb(135, 222, 250);
  height:60px;

  width: 100%;

}
.nav{
  display: inline-block;
  padding-top: 20px;
  font-style: italic;
}
.nav a{
  text-decoration: none;
  font-weight: bold;
  border-width: thick;
  border-style: ridge;
  padding: 7px;
  margin: 10px;
  border-color: rgb(59, 172, 214)
}
.nav a:hover{
  background-color: rgb(250, 195, 5);
}
.header-fill{
  display: flex;
  width:100%;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.container{
  border-width: medium;
  border-style: ridge;
  height: 530px;
  background-color: rgb(168, 231, 251);
  margin: 0 auto;
  max-width: 1200px;
  overflow: visible;
}
.grid{
  overflow: visible;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: 100%;
}

.grid-item-2{
  border-color: red;
  border-width: medium;
  border-style: ridge;
}
